* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 0;
}

.container-fluid {
  max-width: 1000px;
  position: relative;
  padding: 0.5rem 0;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-nav {
  position: absolute;
  right: 20px;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.navbar-nav > a {
  padding: 0;
  margin: 0;
  height: 100%;
}

.responsive-table {
  overflow-x: auto;
}

.navbar-nav > a > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.messages {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.errors-list {
  display: none;
}

.errors-list.visible {
  display: block;
  color: #842029;
  margin-top: 25px;
  padding: 16px;
  font-size: 16px;
  list-style: none;
  width: 100%;
  border: 2px solid #f5c2c7;
  background-color: #f8d7da;
  border-radius: 5px;
}
